@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');

* {
  user-select: none;
  font-family: "Nanum Gothic", sans-serif;
}

/* 모달 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

/* 모달 콘텐츠 */
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px 40px;
  border: 1px solid #888;
  width: auto;
  max-width: 800px;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  position: relative;
  z-index: 4;
}

/* 닫기 버튼 */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #4A628A;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover,
.close-btn:focus {
  color: #29354b;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-container {
  background: #ffffff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  min-height: 650px;
  margin: 0 auto;
}

.form-area {
  width: 600px;
  margin: 0 auto;
}

.button-area {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 20px;
}

.button-area input[type="button"] {
  width: 10vh;
  height: 5vh;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4A628A;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-area input[type="button"]:hover {
  background-color: #29354b;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 80px;
  font-weight: bold;
  margin-right: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.content {
  resize: vertical;
  min-height: 300px;
}