@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Pen+Script&display=swap');

* {
  user-select: none;
}

.form-container {
  background: #ffffff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  min-height: 650px;
}

h2 {
  text-align: left;
  margin: 10px 0;
}

.title-underline {
  border: none;
  border-bottom: 2px solid #007bff;
  width: 100%;
  margin-bottom: 20px;
}

.button-area {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.button-area input[type="button"] {
  width: 30%;
  height: 40px;
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-area input[type="button"]:hover {
  background-color: #0056b3;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
}

.form-group input,
.form-group select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  outline: none;
}

#inputBox {
  position: relative;
}

.input-btn-group {
  display: flex;
  align-items: center;
}

input#email,
input#email-custom-domain,
select#email-domain {
  width: 105px;
  margin-right: 5px;
}

select#email-domain {
  width: 120px;
  height: 34px;
}

input#email-custom-domain {
  margin-left: 5px;
}

input#passwordCheck {
  width: 100%;
}

input#memId,
input#authCode {
  width: 377px;
}

#inputBox button {
  position: absolute;
  width: 96px;
  height: 34px;
  bottom: auto;
  right: 0;
  border-radius: 3px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

span#idCheckMessage,
span#pwCheckMessage,
span#sendCheckMessage,
span#codeCheckMessage {
  position: absolute;
  top: 100%;
  left: 5px;
  margin-top: 5px;
  font-size: 0.9em;
}

/* #idCheckMessage,
#pwCheckMessage {
  margin-top: 5px;
  font-size: 0.9em;
  color: red;
  position: absolute; 
  top: 100%; 
  left: 90px;
} */